.App {
  text-align: center;
}

body {
  background-image: url('../images/pia19920_bigsky-selfie.jpg');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #192936;
  color: white;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 60vw;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(100, 80, 50, 0.5);
}

h1 {
  text-shadow: 2px 2px 2px black;
  font-size: 3em;
  margin: 15px auto;
}

.form-container {
  flex: 0 0 60vw;
  text-align: center;
}
 label, select, button, input {
   font-size: 1em;
   margin: 10px;
 }

.images-container {
  flex: 1 0 50vw;
}

img {
  width: 45vw;
  height: auto;
  border-width: 5px 5px 20px 5px;
  border-color: white;
}

.img-caption {
  margin: 0 0 10px 0;
}
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  align-self: flex-end;
}
.footer a:link, .footer a:visited {
  color: black;
}

.loading-img {
  animation: loading-img-spin infinite 1s linear;
  height: 200px;
}

@keyframes loading-img-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
